extends elements/layout 

block content
  .wrap
    aside.laside
      .profile
        img(src='./img/profile2.png').profile_img
      img(src='./img/settings.svg').settings_img
    main.main 
      section.logo
        p.logo_text TRIVIAL CHAT
      header 
        p register page
      section.main_container
        .clients

        .chat

        .templates
