extends elements/layout 

block content
  .wrap
    aside.laside
      .profile
        img(src='./img/profile2.png').profile_img
      img(src='./img/settings.svg').settings_img
    main.main 
      section.logo
        p.logo_text TRIVIAL CHAT
      header 
        p main page
      section.main_container
        .clients
          .clients_item
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user01.png').clients_item-img-img
            .clients_item-status Banjo 1
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse.pulse
              img(src='./img/user/user02.png').clients_item-img-img
            .clients_item-status Banjo 2
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user03.png').clients_item-img-img
            .clients_item-status Banjo 3
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user04.png').clients_item-img-img
            .clients_item-status Banjo 4
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user05.png').clients_item-img-img
            .clients_item-status Banjo 5
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user06.png').clients_item-img-img
            .clients_item-status Banjo 6
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user07.png').clients_item-img-img
            .clients_item-status Banjo 7
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user08.png').clients_item-img-img
            .clients_item-status Banjo 8
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user09.png').clients_item-img-img
            .clients_item-status Banjo 9
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user10.png').clients_item-img-img
            .clients_item-status Banjo 10
          .clients_item 
            .clients_item-img
              .clients_item-img-pulse
              img(src='./img/user/user11.png').clients_item-img-img
            .clients_item-status Banjo 11

        .chat
          .chat_field

            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap
            .chat_field-message 
              p.msg-data date 20-07-2021
              p.msg-text Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap

          .chat_input
            input.chat_input-text(type="text" placeholder="type your answer ..." required autofocus)
            img(src='./img/ok.png').chat_input-icon
            img(src='./img/attach.png').chat_input-icon

          #divider(draggable="true")

        .templates
