@import 'index.sass'

.cp
  &_header, 
  &_footer
    display: flex
  &_header
    height: 5rem
    background: $gray
    display: flex
    justify-content: space-between
    align-items: flex-start
    &-avatar
      position: relative
      padding: .5rem 0 0 .5rem
    &-avatarimg
      position: absolute
      width: 3.8rem
      height: 3.8rem
      border-radius: 50%
      top: .6rem
      left: .6rem
    &-avatarbg
      position: absolute
      width: 4rem
      height: 4rem
      border-radius: 50%
      background-color: #888888
      background: radial-gradient(ellipse at center, #8880 50%, #888 65%)
      background-size: cover
  &_footer
    height: 3rem
  &_body
    height: calc(100vh - 8rem)
    background: whitesmoke
    overflow: auto
    min-width: 12rem