/**
 *************************************** profile avatar description
 */
.profile
  width: 5rem
  height: 5rem
  background: deeppink
  border-radius: 50%
  margin: 1rem 0 0 0
  position: relative
  &:hover
    cursor: pointer
  &_img
    width: 100%
    height: 100%
    border-radius: 50%
  &_avatarbg,
  &_avatar
    position: absolute
    width: 100%
    height: 100%
    border-radius: 50%
    transition: border-radius 1.5s linear
  &_avatarbg
    background: aqua

.settings_img
  width: 3rem
  height: 3rem
  margin: 0 0 1rem 0
  filter: invert(100%)
  &:hover
    cursor: pointer

/**
 *************************************** logo description
 */
// .logo
//   position: absolute
//   top: 1.1rem
//   left: 9rem
//   z-index: 1
//   font-face: $ff
//   font-size: 2rem
//   font-weight: bold
//   mix-blend-mode: normal
//   &_text
//     color: $salmon
//     text-shadow: 0px 0px 25px rgb(255, 255, 255)

/**
 *************************************** main window container
 */
.main
  flex: 1 1 auto
  display: flex
  flex-flow: column nowrap
  height: 100%
  &_container
    display: flex
    justify-content: flex-start
    align-items: center
    width: 100%
    height: 100%
    background: #ccc
    background-size: cover
    overflow: hidden

/**
 *************************************** main window
 */
.clients, .templates
  height: 100%
  overflow: auto

.clients
  flex: 1 1 20%
  background: #444
  min-width: 9rem
  &_item
    position: relative
    padding: 0.5rem
    height: 4rem
    width: 100%
    overflow: hidden
    display: flex
    &:hover
      cursor: pointer
      background: #4c4c4c
    &:hover &-img-pulse
      background: deeppink
      box-shadow: 0px 0px 8px 4px deeppink
    &:hover .btn_close-min
      visibility: visible
    &-avatar
      height: 100%
      border-radius: 50%
      padding: .2rem 1rem
    &-status
      flex: 1 1 auto
      padding: 0.3rem
      width: 60%
      &-desc
        color: #999
        padding-top: .5rem
        font-size: .8rem
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        font-family: $ff-text
      &-title
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    &-img
      position: relative
      min-width: 3rem
      height: 3rem
      margin: 0 .5rem 0 0
      &-img, &-pulse
        position: absolute
        width: 100%
        height: 100%
        border-radius: 50%

.btn_close-min
  visibility: hidden
  position: absolute
  right: 0rem
  top: 0rem
  width: 1.6rem
  height: 1.6rem
  border-radius: 50%
  padding: 0.3rem
  &::before, &::after
    position: absolute
    left: .75rem
    display: block
    content: ''
    height: 1rem
    width: 2px
    background-color: #bbb
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)
  &:hover
    cursor: pointer
    background: deeppink

.btn_close-std
  // visibility: hidden
  position: absolute
  right: 0rem
  top: 0rem
  width: 2rem
  height: 2rem
  border-radius: 50%
  padding: 0.3rem
  &::before, &::after
    position: absolute
    top: .5rem
    right: .95rem
    display: block
    content: ''
    height: 1rem
    width: 2px
    background-color: #aaa
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)
  &:hover
    cursor: pointer
    background: deeppink
  &:hover:before,
  &:hover::after
    background-color: $white

.client-selected
  background: #4c4c4c
.client-empty
  margin: 1rem
  color: #bbb


.chat
  flex: 1 1 45%
  height: 100%
  background: #666
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  position: relative
  &_field
    flex: 1 1 auto
    padding: 1rem
    overflow: auto
    &-message
      display: flex
      &[data-align='to']
        justify-content: start
      &[data-align='from']
        justify-content: end
    &-messageto,
    &-messagefrom
      position: relative
      max-width: 70%
      padding: .5rem
      margin-bottom: .5rem
      opacity: 1
      animation: showmsg .5s ease-in-out
    &-messageto
      border-radius: 1rem 1rem 1rem 0 / 1rem 1rem 1rem 0 
      background: #555
      box-shadow: 0 0 1rem #6bffffc4
      p
        font-family: $ff-text
        color: aqua
    &-messagefrom
      border-radius: 1rem 1rem 0 1rem / 1rem 1rem 0 1rem
      background: darkturquoise
      box-shadow: 0 0 .7rem #333
      p
        font-family: $ff-text
        color: $black
        text-align: right

  &_input
    flex: 0 0 auto
    background: #454545
    display: flex
    justify-content: space-between
    align-items: center
    padding-right: .5rem
    width: 100%
    &-text
      flex: 1 1 auto
      height: 3rem
      border: none
      color: $black
      font-family: $ff
      line-height: 1.5rem
      font-weight: $ff-light
      padding: 0 .5rem 0 .5rem
      background: #454545
      width: 80%
      &::placeholder
        font-size: 1.2rem
      &:focus
        outline: none
        background: azure
    &-icon
      height: 2rem
      margin-left: .5rem
      &:hover
        cursor: pointer
    &-icon2
      height: 2rem
      margin-left: .5rem
      filter: invert(100%)
      &:hover
        cursor: pointer

#divider
  content: ''
  width: .8rem
  height: .8rem
  background: deeppink
  border-radius: 50%
  position: absolute
  right: -.4rem
  top: 45%
  transition: transform .5s linear, border-radius .5s linear, width .5s linear, height .5s linear, right .5s linear
  &:hover
    right: -.6rem
    width: 1.2rem
    height: 1.2rem
    cursor: col-resize
    background: deepskyblue
    border-radius: 0
    transform: rotate(315deg)

.templates
  flex: 1 1 35%
  padding: 1rem
  background: #888;
  display: flex;
  flex-flow: column nowrap
  // text-shadow: 0 0 .5rem aqua
  & a
    text-decoration: none
    color: $black
    padding: .2rem 0
  & a:hover 
    color: aqua
    text-shadow: 0 0 1rem aqua

/**
 *************************************** optional classes
 */        
.active
  background: deeppink
  box-shadow: 0px 0px 8px 4px deeppink

.pulse
  animation: pulsing 1s ease-out infinite

p.msg-data
  font-size: .8rem
  line-height: 1.5rem
  color: gray
  padding: 0
p.msg-text
  padding: .3rem 0
  text-overflow: ellipsis
  overflow: hidden
  text-overflow: ellipsis;
  max-width: 30rem

/**/

@keyframes pulsing
  from
    background: aquamarine
  to 
    transform: scale(1.4)
    opacity: 0

@keyframes showmsg
  from
    opacity: 0