extends elements/layout 

block content
  main.main 
    section.logo
      p.logo_text TRIVIAL CHAT
    section.main_container
      .description
        .description_form
          .description_form-avatarbg 
          .description_form-avatar
         
    aside.city-images