@import 'index.sass'

[v-cloak]
  display: none

.cp
  &_header, 
  &_footer
    display: flex
  &_header
    height: 5rem
    background: $gray
    display: flex
    justify-content: space-between
    align-items: flex-start
    &-avatar
      flex: 0 0 5rem
      position: relative
      padding: .5rem 0 0 .5rem
    &-avatarimg
      position: absolute
      width: 3.8rem
      height: 3.8rem
      border-radius: 50%
      top: .6rem
      left: .6rem
    &-avatarbg
      position: absolute
      width: 4rem
      height: 4rem
      border-radius: 50%
      background-color: #888888
      background: radial-gradient(ellipse at center, #8880 40%, #888 69%)
      background-size: cover
    &-card
      flex: 1 1 auto
      margin: 1rem

  &_footer
    height: 3rem
  &_body
    height: calc(100vh - 8rem)
    background: aliceblue
    overflow: auto
    min-width: 12rem

.chat_field
  padding: 1rem
  overflow: auto
  &-message
    display: flex
    &[data-align='to']
      justify-content: flex-start
    &[data-align='from']
      justify-content: flex-end
  &-messageto,
  &-messagefrom
    position: relative
    max-width: 70%
    padding: .5rem
    margin-bottom: .5rem
    box-shadow: 0 0 .7rem #4445
    opacity: 1
    animation: show .5s ease-in-out
  &-messageto
    border-radius: 1rem 1rem 1rem 0 / 1rem 1rem 1rem 0 
    background: deepskyblue
    p
      font-family: $ff-text
  &-messagefrom
    border-radius: 1rem 1rem 0 1rem / 1rem 1rem 0 1rem
    background: lightblue
    p
      font-family: $ff-text
      text-align: right

.chat_input
    flex: 0 0 auto
    background: #454545
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    &-text
      flex: 1 1 auto
      height: 3rem
      border: none
      color: $black
      font-family: $ff
      line-height: 1.5rem
      font-weight: $ff-light
      padding: 0 .5rem 0 .5rem
      background: #454545
      width: 80%
      &::placeholder
        font-size: 1.2rem
      &:focus
        outline: none
        background: lightblue
    &-icon
      height: 2rem
      margin-left: .5rem
      &:hover
        cursor: pointer
    &-icon2
      height: 3rem
      padding: .5rem
      filter: invert(100%)
      &:hover
        filter: invert(0%)
        background: lightblue
        cursor: pointer

.msg-data
  font-size: .8rem
  color: #666
.msg-text
  color: $black

/**/

@keyframes show
  from
    opacity: 0
