extends elements/layout 

block content
      section.main_container
        .clients
          - var n = 1;
          while n < 12
            .clients_item
              .clients_item-img
                .clients_item-img-pulse
                img(src='./img/user/user' + n + '.png').clients_item-img-img
              .clients_item-status Banjo !{n}
            - n++

        .chat
          .chat_field
            each val in [1, 2, 3, 4, 5]
              .chat_field-message 
                p.msg-data date 20-07-2021 !{val}

        //- for using in client site
        section.tchat
          .tchat_wrap#tchat_wrap 
            iframe(src="http://192.168.140.68:5001/tchat", frameborder="0", scrolling="no") 
            .tchat_wrap-close#tchat_close
          .tchat_icon#tchat_button
            .tchat_icon-ring 
            .tchat_icon-button