
$white: #fff

/**
 *************************************** for using in client site
 */
.tchat
  position: sticky
  bottom: 2rem
  margin-right: 2rem
  z-index: 999
  &_wrap
    position: absolute
    width: 16rem
    height: 27rem
    opacity: 0
    bottom: 0
    right: 0
    // transition: all .5s ease-out
    & iframe
      position: absolute
      width: 100%
      height: 100%
      border-radius: 1rem
    &-close
      position: absolute
      right: 0rem
      top: 0rem
      width: 2rem
      height: 2rem
      border-radius: 50%
      background: transparent
      &::before, &::after
        position: absolute
        left: .9rem
        top: .3rem
        display: block
        content: ''
        height: 1.4rem
        width: 2px
        background-color: white
      &::before
        transform: rotate(45deg)
      &::after
        transform: rotate(-45deg)
      &:hover
        cursor: pointer
        background: #ff5b46aa

.tchat_icon
  position: absolute
  bottom: 0rem
  right: 0rem
  height: 4rem
  width: 4rem
  &-button, &-ring
    position: absolute
    width: 100%
    height: 100%
    border-radius: 50%
    box-sizing: border-box
    margin: 0
    padding: 0
  &-button
    background-image: url('../img/ask-question.png')
    background-size: 70%
    background-repeat: no-repeat
    background-position: 50% 50%
    background-color: lightblue
  &-ring
    border: solid 3px lightblue
    animation: ring 1s ease-out infinite
  &:hover
    cursor: pointer

.none
  width: 0
  height: 0

/**
 *************************************** optional classes
 */        

.pulse
  animation: ring 1s ease-out infinite

/**/

@keyframes ring
  to 
    border: transparent 0px solid
    transform: scale(1.4)
    opacity: 0

.bounceIn
  animation: bounceIn .75s both

@keyframes bounceIn 
  0%, 20%, 40%, 60%, 80%, 100% 
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)

  0% 
    opacity: 0
    transform: scale3d(.3, .3, .3)

  20% 
    transform: scale3d(1.1, 1.1, 1.1)

  40% 
    transform: scale3d(.9, .9, .9)

  60% 
    opacity: 1
    transform: scale3d(1.03, 1.03, 1.03)

  80% 
    transform: scale3d(.97, .97, .97)

  100% 
    opacity: 1
    transform: scale3d(1, 1, 1)

.flipOutY 
  animation: flipOutY .75s both

@keyframes flipOutY 
  0% 
    transform: perspective(45rem)

  30% 
    transform: perspective(45rem) rotate3d(0, 1, 0, -15deg)
    opacity: 1
  
  100% 
    transform: perspective(45rem) rotate3d(0, 1, 0, 90deg)
    opacity: 0